.detail-layout {
    color: white;
    padding: 40px;
    max-width: 1000px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

.detail-top {
    display: flex;
    gap:  30px;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.detail-image {
    max-width: 300px;
    width: 100%;
    border-radius: 8px;
    object-fit: cover;
    box-shadow: 0 4px 12px rgba(255, 255, 255, 0.1);
}

.detail-description {
    max-width: 500px;
}

.detail-description h1 {
    margin-bottom: 15px;
    font-size: 2rem;
    color: #272727;
}

.detail-description p {
    font-size: 1rem;
    color: #ccc;
    line-height: 1.6;
}

.detail-divider {
    margin: 40px 0 20px;
    border: 1px solid #555;
}

.detail-bottom {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
    background: #dadada;
    padding: 20px;
    border-radius: 10px;
}

.detail-data {
    display: block;
    color: #272727;
    margin-bottom: 5px;
}

.data-label {
    font-weight: bold;
}

.data-value {
    font-size: 0.95rem;
    color: #272727;
}
