
body {
background: rgb(255, 255, 255);
}

h2 {
    text-align: left;
    color: red;
    padding: 50px;
}

.navbar {
    padding: 30px;
}

html, body, #root {
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
}
